h1{

    color: #1727AE;

}



.header{

    background-color: #6987D5;
    display:flex;
    justify-content : space-between;
}

.grid{

display:flex;
flex-wrap: wrap;
justify-content : space-evenly;
}

.footer{

    display:flex;
    justify-content:  flex-end;

}

p,h2{
    text-align: center;
}

body{
    background-color: #97BAEC;
}